h1 {text-align: center;}
p {text-align: center;}
h2 {text-align: center;}

body {background-color: #FFBD3F;}
body{
    color:#242299;

    font-family: 'Ubuntu', sans-serif;
}

h1{color:#242299}



h1{font-family:'Mukta', sans-serif;}

