


body{
    background-color: #FFBD3F;
    color:#242299;

    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}


h1{font-family:'Mukta', sans-serif;
    font-weight: 800;
color:#242299

}

.about-img{width: 400px;}

.bi{font-size: 2em;}

.nav a{color: white;}