body{
   
    
    margin-left: 10%;
    margin-right: 10%;
    
     
        background-image: linear-gradient(#144ED6, #45C8F7);
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        
}


div{

    

    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
}

h1{

    padding-top: 30px;
    font-family:'Mukta', sans-serif;
    font-weight: 800;


}

h2{
    padding-top: 5px;
    font-family:'Mukta', sans-serif;
    font-weight: 400;

text-decoration: underline;
}



#nav{
    background-color: lightslategray;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}

@media (max-width:775px){
    h1{
        font-size: 2em;
    }
}
